<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.ТаблицаАкцийИсип20КубасовГубаревConnectionString"
            connectionString="Data Source=COMP212-9;Initial Catalog=ТаблицаАкцийИсип20КубасовГубарев;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.akciitexConnectionString"
            connectionString="Data Source=DESKTOP-782VONG;Initial Catalog=akciitex;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.akciitexnikumConnectionString"
            connectionString="Data Source=akciitexnikum.mssql.somee.com;Initial Catalog=akciitexnikum;User ID=MrUDDoff"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>